<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Catatan Express</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container mt-4">
        <h1>Catatan Express</h1>
        <%- body %>
    </div>

    <div class="container py-5 text-center">
        &copy; 2019 - <a class="text-muted" href="https://catatan-express.herokuapp.com">Catatan Express</a>
        <p>Indrapuri - Aceh Besar, All Right Reserved.</p>
    </div>

</body>

</html>