<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Catatan Express</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/image/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/image/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/image/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/image/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/image/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/image/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/image/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/image/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/image/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/image/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/image/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/image/icon/s-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container mt-4">
        <%- body %>
    </div>

    <div class="container py-5 text-center">
        &copy; 2019 - <a class="text-primary" href="https://catatan-express.herokuapp.com">Catatan Express</a>
        <p>
            <i class="animated infinite heartBeat delay-1s text-danger fas fa-heart"></i>
            Indrapuri - Aceh Besar, All Right Reserved.
        </p>
    </div>

</body>

</html>