@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
	background: #232e30;
	color: #ff5834;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	color: #fff;
	font-size: 64px;
}

a {
	color: rgb(0, 97, 153);
}
